@model IEnumerable<NFTrove.Application.DTOs.NftDTO>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-end">
            <a asp-action="Create" class="btn btn-primary">Crear NFT</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Imagen)*@
                        <!-- Show Image as Base64-->
                        <input type="image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Imagen)"
                               id="ImagenProducto" style="height:75px;width:75px" class="zoom2">
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary" style="margin-right: 5px;">Editar</a>
                        <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info details-link" style="margin-right: 5px;">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
