@model NFTrove.Application.DTOs.ClienteDTO

@{
    ViewData["Title"] = "Details";
    var paises = ViewBag.Paises as List<NFTrove.Application.DTOs.PaisDTO>;
}

<div class="container">
    <h1 class="text-center">Details</h1>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <hr />
            <dl class="row">

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Apellidos)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Apellidos)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Identificacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Identificacion)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CorreoElectronico)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CorreoElectronico)
                </dd>
                <dt class="col-sm-4">
                    Pais
                </dt>
                <dd class="col-sm-8">
                    @if (Model != null)
                    {
                        var pais = paises.FirstOrDefault(p => p.ID == Model.PaisID);
                        var nombrePais = pais != null ? pais.Descripcion : "País no encontrado";
                        @nombrePais
                    }
                </dd>
            </dl>
            <div class="col-sm-12 text-right mt-3">
                <a asp-action="Index" class="btn btn-primary">Close</a>
            </div>
        </div>
    </div>
</div>

